/*THIS FILE IS TO STORE THE STYLE ELEMENTS FOR THE WEBSITE*/

/*I added this bit of code (from a website) to give the website I am creating a smooth scroll.*/
html{
    scroll-behavior: smooth;
}

/*Style of the bar*/
/*This bar will be a the top of the page.*/
/*taken from https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_fixed*/
ul {
    list-style-type: none;
    margin-top: auto;
    margin-left: -10px;
    margin-right: 60px;
    /* margin: auto; */
    padding: 0;
    overflow: hidden;
    background-color: #0b9ccc;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5; /*This will prevent images or anything that will go over the navigation bar*/
    opacity: 99%; /*This is for the opacity of the navigation bar (how much transparent it should be)*/
} /*Setting the display a look of the bar*/

li {
    float: left;
    border-right: 1px solid whitesmoke;
} /*The text will be set to the right for more information for the user.
In addition, border lines have been added to each of them.*/

li :last-child {
    border-right: none;
} /*border line of the last text to be removed.*/

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} /*This will provide reference (or rather to click on the link) for the information on the bar (i.e. Home, About Us, etc...)*/

li a:hover:not(.active) {
    background-color: /*#301b06*/rgb(9, 9, 138);
} /*Set the background color for the text in the bar when hovering over it.*/

li a.active {
    background-color: rgb(2, 2, 55);
}/*When an item is active it will change its color to show the user they are on that current page.
For example, if you are on the home page the color will be blue while the other items on the navbar
remain the same. 
I can activate this color for any of the text in the bar if i wish to. If I will do it then 
it will be (in the code)
<li><a class = "active" href = "#home"> Home </a></li> */

/*for the header*/
h1 {
    text-align: center;
    font-family: Brush Script MT;
    font-size: 500%;
    }

/*background shadow for the header*/
#myDIV {
    height: 300%;
    text-shadow: 5px 5px 10px black;
}

/*Center the DCLM logo in the middle, below the header*/
img {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
  } /*code taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_center*/


@media (max-width: 952px){

    ul li a{
        font-size: 16px;
    }
}

@media only screen and (max-width: 858px){
    body >*:not(.mobile__content){
        display: none;
    }

    .mobile__content {
        display: block;
        margin: 5pc 2pc;
    }

    /* ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    ul li a{
        font-size: 20px;
    }

    a:hover, a.active{
        background: none;
        background-color: rgb(2, 2, 55);
    }

    #check:checked ~ ul{
        left: 0;
    }

    a:hover:not(.active){
        background: none;
        background-color: rgb(9, 9, 138);
    } */
}
  /*This is to reduce the gap between the header text and the logo*/
  /*Code taken from 
  https://medium.com/swlh/how-to-add-or-reduce-space-between-lines-of-text-using-just-html-and-css-bdd22708f971
  */
/* .adjust-line-height{
    line-height: 1em;
} */